---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Untitled Page">
  <div class="grid grid-cols-12 gap-4 mb-8">
    <div class="col-span-12 md:col-span-12">
<div class="text-base text-left text-gray-800 prose max-w-none"><p class="mb-2">やっぱりイメージがアップロードできない。</p>
<p class="mb-2">なぜでしょうか。</p>
</div>
    </div>
  </div>
</Layout>
