---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Untitled Page">
  <div class="grid grid-cols-12 gap-4 mb-8">
    <div class="col-span-12 md:col-span-12">
<div class="text-base text-left text-gray-800 prose max-w-none"><h1 class="font-bold text-gray-900 mb-2 text-4xl">こんにちは</h1>
<br/>
<p class="mb-2">私は<span style="background-color:#FFEF5350;">石川昌和</span>です。</p>
<br/>
</div>
    </div>
  </div>
</Layout>
