---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Untitled Page">
  <div class="grid grid-cols-12 gap-4 mb-8">
    <div class="col-span-12 md:col-span-12">
      <img src="https://firebasestorage.googleapis.com/v0/b/flutter-homerun-game-masa-01.firebasestorage.app/o/images%2F0dc17378-e714-46f8-a95c-97f9b9787540%2Fapp_icon_1024.png?alt=media&token=f55820d5-bb15-4060-b259-5195aedc4b15" alt="Image" class="rounded-lg shadow-md w-full h-auto" />
    </div>
  </div>
</Layout>
