---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Untitled Page">
  <div class="grid grid-cols-12 gap-4 mb-8">
    <div class="col-span-12 md:col-span-12">
<div class="text-base text-left text-gray-800 prose max-w-none"><h1 class="font-bold text-gray-900 mb-2 text-4xl">こんにちは</h1>
<br/>
<p class="mb-2">これは赤です。</p>
<br/>
<br/>
</div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 mb-8">
    <div class="col-span-12 md:col-span-12">
      <img src="https://firebasestorage.googleapis.com/v0/b/flutter-homerun-game-masa-01.firebasestorage.app/o/images%2F8bc9833d-1f80-4c9b-ab26-8ae9a645c4a9%2Fapp_icon_1024.png?alt=media&token=3125f969-5bc6-4959-8604-e212a3397b3f" alt="Image" class="rounded-lg shadow-md w-full h-auto" />
    </div>
  </div>
</Layout>
